<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'accounts/logo.png' %}" >
  <title>{% block title %}5Axis Shipping Terminal{% endblock %}</title>
  {% include 'style.css' %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> -->
</head>
<body>
  <!-- {% load static %} -->

  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="{% static 'accounts/logo.png' %}" alt="5Axis Logo" class="logo">
      <span style="color: rgb(50, 187, 214); font-weight: bold;"><span style="color: rgb(228, 224, 11); font-weight: bold;">5Axis</span> Shipping Terminal</span>
    </div>
    <span>Welcome, <span style="color: rgb(210, 193, 15); font-weight: bold;">Hamza Ashraf!</span></span>
    <div class="navbar-search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="user-dropdown">
      <button class="profile-btn"><i class="fas fa-user"></i></button>
      <div class="user-dropdown-menu">
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a href="#" class="logout-btn">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid" style="padding: 0px;">
    <div class="d-flex">
      <!-- Sidebar -->
      <div>
        {% include 'sidebar.html' %}
      </div>
      <!-- Main Content -->
      <div class="flex-grow-1">
        <main role="main" class="px-4" style="padding: 20px">
          {% block content %}
            <!-- Your main content here -->
          {% endblock %}
        </main>
      </div>
    </div>
  </div>
  


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">
            <span><b>&copy;</b></span> <b>All rights reserved. 5Axis Shipping Terminal 2024</b>
          </p>
        </div>
      </div>
    </div>
  </footer>
  

  <!-- Bootstrap and Font Awesome scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{% static 'accounts/js/script_base.js' %}"></script>

    
</body>
</html>
