{% extends 'base.html' %}
{% load static %}
{% block content %}

<main role="main" class="px-4" style="padding: 20px">
  <div id="table-container">
    <!-- Your table content here -->
  </div>
  <div class="pagination-buttons mt-4">
    <button id="prev-page-btn" class="btn btn-primary float-right ml-2">Previous Page</button>
    <button id="next-page-btn" class="btn btn-primary float-right">Next Page</button>
  </div>
</main>
<script src="{% static 'accounts/js/script_orders.js' %}"></script>

{% endblock %}
